.posts-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: lightblue;
    border: 1px solid;
    border-radius: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    height: auto;
    box-shadow: 2px 2px;
}

