
header {
    font-weight: bold;
}

.p-button {
    padding: 5px;
    border: none;
    background: none;
    color: gray; 
}

button :hover {
    color: lightgray;
}

.l-active {
    color: green;
}

.d-active {
    color: red;
}

.inactive {
    color: default;
}

.thumb-buttons {
    display: flex;
    justify-content: end;
}

.fa {
    font-size: x-large;
}

.post-size {
    width: 50rem;
    padding: 1rem;
}
